html{
    background: #090d00
}

.titulo{
    text-shadow: 0px 0px 5px #000;
    border: 15px ridge #e3e3e3;
    width: 30%;
}
body{
    padding-left: 25px;
    padding-top: 25px;
}

p{
    color: white;
}

ol{
    color: white;
}

ul{
    color: white;
}

div{
    color: white;
}

.{}