html{
    background-color: #F8E76C;
}

.titulo{
    text-shadow: 0px 0px 5px #000;
    border: 15px ridge #343134;
    width: 30%;
}
body{
    overflow: hidden;
    padding-left: 25px;
    padding-top: 25px;
}
a{
    font-size: 100%;
    color: #000;
}
a:hover {
    font-size: 25px;
    color:rgb(255, 4, 4);
    }

    
