html, body {
    margin: 0;
    height: 100%;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  :root {
    --nb-of-cols: 6;
    --width: 150px;
    --top-segment-height: calc(var(--width) / 3.464101);
    --bottom-segment-height: calc(var(--width) / 1.73205);
    --height: calc(var(--top-segment-height) + var(--bottom-segment-height));
  }
  
  .container {
    width: calc(var(--nb-of-cols) * var(--width));
    height: calc((3 * var(--top-segment-height)) + (2 * var(--bottom-segment-height)));
    background: #2d2d2d;
    overflow: hidden;
  }
  
  .line {
    white-space: nowrap;
    font-size: 0;
  }
  
  .line:nth-child(2n) {
    margin-left: calc(-1 * var(--width) / 2);
  }
  
  .hex-part {
    display: inline-block;
    width: var(--width);
    height: var(--height);
  
    background-repeat: no-repeat;
  
    color: #f06;
    background-image:
      linear-gradient(to top right,
                      transparent calc(50% - 1px),
                      currentColor calc(50% - 1px),
                      currentColor calc(50% + 1px),
                      transparent 0),
      linear-gradient(to bottom right,
                      transparent calc(50% - 1px),
                      currentColor calc(50% - 1px),
                      currentColor calc(50% + 1px),
                      transparent 0),
      linear-gradient(to right,
                      transparent calc(50% - 1px),
                      currentColor calc(50% - 1px),
                      currentColor calc(50% + 1px),
                      transparent 0);
  
    background-size:
      50% var(--top-segment-height),
      50% var(--top-segment-height),
      100% 100%;
  
    background-position:
      left top,
      right top,
      0 var(--top-segment-height);
  
    transform-origin: center var(--top-segment-height);
    animation: rotate 4s ease-out infinite;
  }
  
  .hex-part:nth-child(2) { animation-delay: .1s; }
  .hex-part:nth-child(3) { animation-delay: .2s; }
  .hex-part:nth-child(4) { animation-delay: .3s; }
  .hex-part:nth-child(5) { animation-delay: .4s; }
  .hex-part:nth-child(6) { animation-delay: .5s; }
  .hex-part:nth-child(7) { animation-delay: .6s; }
  
  @keyframes rotate {
    0% { transform: rotate(0); }
    30% { transform: rotate(.5turn); }
    50% { transform: rotate(.5turn); }
    80% { transform: rotate(1turn); }
    100% { transform: rotate(1turn); filter: hue-rotate(1turn); }
  }
