html{
    background-color: #F8E76C;
}

.titulo{
    text-shadow: 0px 0px 5px #000;
    border: 15px ridge #e3e3e3;
    width: 30%;
}

a{
    font-size: 100%;
    color: #000;
}
a:hover {
    font-size: 25px;
    color:#100;
    }


